.container {
    margin: 0 auto;
    width: 960px;
}

body {
    background: #FFF1D6 url(/img/fundo-site.jpg);
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
}

.place {
    background-color: #90CAF9;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
}

.place h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
    /* padding-bottom: 2px; */
}

.place a {
    color: #2C88A7;
    font-weight: bold;
    }

.place img {
    border: 1px solid #2979FF; 
    border-radius: 10px;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;   
}

 h1 a {
        color: #2d63c3;
        text-decoration: none;
        }
        

 h1 a:hover {
          /* background-color: #FFF; */
            color: #2DAFFF ;
            }

.clear {
    clear: both;
}

.footer {
    font-size: 12px;
    text-align: center;
}

.sidenote {
    background-color: #FFFBE4;
    border: 1px solid #c9BC8F;
    border-radius: 20px;
    float: right;
    padding: 10px;
    width: 260px;
}

.sidenote h3 {
 font-size: 14px;
 margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
}

.places {
    float: left;
    width: 660px;
}

